.br_main {
    background-color: blue;
    float: left;
    width: 100%;
}
.br_main .br_ulist {
    background-color: white;
    width: 50%;
    height: 100px;
}
.br_main .br_flist {
    background-color: purple;
    width: 50%;
    height: 300px;
}
.br_ulist .br_itemsBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.br_itemsBar .br_item {
    display: block;
    background-color: #dae2ef;
    text-align: center;
}
.br_itemsBar .br_item:hover {
    background-color: #455060;
    color: white;
}
