.br_container {
    width: 100%;
    height: 500px;
    background-color: red;
}
.test {
    overflow: hidden;
    width: 100%;
}
.br_container .br_middle {
    width: 70%;
    margin: 0 auto;
    height: 300px;
}
.br_flist {
    background-color: #010224;
    width: calc(100% - 150px);
    height: 200px;
    float: left;
}
.br_ulist {
    background-color: #010224;
    width: 150px;
    height: 200px;
    color: white;
    float: left;
}
.br_ulist .utitle {
    padding: 5px 0 5px 50px;
    font-weight: bold;
}
.br_player {
    background-color: #b9e8ff; 
    width: 100%;
    height: 140px;
}
.br_flist .br_samplesBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: green;
}
.br_flist .br_ftitle {
    font-size: 24px;
    width: 100%;
    background-color: #f1f10b;
}
.br_ulist .br_itemsBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.br_flist .br_file:hover {
    background-color: #f1f10b;
}
.br_flist .br_file {
    padding: 5px 10px;
    display: block;
    background-color: #dae2ef;
}
.br_file.active {
    background-color: #f1f10b;
}
.br_itemsBar .br_item {
    display: block;
    background-color: #393b6d;
    text-align: center;
    transition: all .2s ease-in;
}
.br_item.active {
   background-color: #48b7b6; 
   color: black;
}
.br_itemsBar .br_item:hover {
    background-color: #455060;
    color: white;
}
.br_player .br_progress_cont{
    padding: 3px 5px;
    height: 12px;
    width: 200px;
    background-color: black;
}
.br_progress_cont .br_progress {
    height: 6px;
    width: 100%;
    background-color: red;
}
