.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dae2ef;
}
.navLi {
	float: left;
}
.navLi .navItem {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
.navLi .navItem:hover {
	background-color: #455060;
	color: white;
}
.navLi .navItem.active {
	background-color: #b51b1b;
	color: white;
}
