ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dae2ef;
}
li {
	float: left;
}
li .navItem {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
li .navItem:hover {
	background-color: #455060;
	color: white;
}
