.navBar {
    position: fixed;
    z-index: 99;
    width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #FBA100;*/
}
.navBar .navLi {
    position: relative;
	float: left;
    left: 30%;
}
.navLi .navItem {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: all .3s ease-in;
}
.navLi .navItem:hover {
	background-color: #455060;
	color: white;
}
.navLi .navItem.active {
	background-color: #6BBAA7;
	color: white;
}
