.home_cont {
  color: #6bbaa7;
  width: 100%;
}
.home_cont .home_col1 {
  width: 20%;
}
.home_cont .home_col2 {
  width: 60%;
  margin: auto;
  background-color: rgba(182, 161, 158, .2); 
}
.home_cont .home_col3 {
  width: 20%;
}
.home_cont .home_title {
  margin: 5px auto;
  text-align: center;
  background-color: #FBA100;
  width: 335px;
  color: white;
  height: auto;
}
