.home_cont {
  color: #6bbaa7;
  width: 100%;
}
.home_cont .home_col1 {
  width: 5%;
}
.home_cont .home_col2 {
  width: 690px;
  margin: auto;
  background-color: rgba(182, 161, 158, .2); 
}
.home_cont .home_col3 {
  width: 5%;
}
.home_col2 .home_title {
  margin: 0 5px; 
  text-align: center;
  background-color: #6BBAA7;
  width: 680px;
  color: white;
  height: auto;
}
