.login_cont {
  position: absolute;
  top: 100px; 
  opacity: 1; 
  width: 100%;
  padding-bottom: 5px;
}
.login_cont .login_wrapper {
  width: 335px;
  margin: 0 auto;
}
.login_form {
  margin: 0;
  background-color: rgba(107, 186, 167, .6);
  padding: 5px 20px;
}
.login_title {
  background-color: #FBA100;
  margin: 0;
  color: white;
  height: auto;
  text-align: center;
}
.login_label {
  font-family: 'Concert-One';
  font-size: 12px;
  color: white;
}
.login_input {
  background: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid #1976D2;
  padding: 2px;
}
.login_input:focus {
  outline: 0;
}
