.login_cont {
  position: absolute;
  top: 100px; 
  width: 100%;
  padding-bottom: 5px;
}
.login_cont .login_wrapper {
  opacity: .8; 
  transition: all 0.5s ease-in;
  width: 335px;
  margin: 0 auto;
}
.login_form {
  margin: 0;
  background-color: rgba(107, 186, 167, .8);
  padding: 5px 20px;
}
.login_title {
  background-color: #FBA100;
  margin: 0;
  color: white;
  height: auto;
  text-align: center;
}
.login_label {
  font-family: 'Concert-One';
  font-size: 12px;
  color: white;
}
.login_input {
  background: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid #6C648B;
  padding: 2px;
}
.login_input:focus {
  outline: 0;
}
.login_button {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  padding: 8px;
  background-color: #FBA100;
  color: white;
  transition: all .3s;
  text-align: center;
  width: 100px;
}
.login_button:hover {
  background-color: #6C648B;
  color: #d7d7d7;
}
