.miniplayer_cont {
  position: relative;
  display: inline-block;
  width: 330px;
  height: 90px;
  margin: 2px;
}
.miniplayer_cont .miniplayer {
  position: relative;
  width: 230px;
  margin-top: 10px;
  margin-left: 50px;
  height: 60px;
  background-color: white;
  border-radius: 2px;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s;
}
.miniplayer:hover,
.miniplayer_cont:hover .avatar {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.miniplayer_cont .avatar {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 80px;
  width: 80px;
  background-color: green;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s;
}
.avatar .avatar_name {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 33%;
}
.miniplayer .menu {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  margin-left: 200px;
  margin-top: 0px;
}
.miniplayer .time {
  color: #6aabb7;
  margin-left: 200px;
  margin-top: 6px;
  font-size: 8px;
}

/* PROGRESS BAR */
.miniplayer .progress_cont {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #6aabb7;
  cursor: pointer;
}
.progress_cont .progress_bar {
  background-color: #fba100;
  height: 5px;
}
/* END OF PROGRESS BAR */

/* CONTROLS */
.miniplayer .pause_button {
  display: none;
}
.pause_button.pl:hover,
.play_button:hover {
  opacity: 0.7;
}
.miniplayer .pause_button.pl {
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 13px;
  margin-left: 35px;
  cursor: pointer;
  background-image: url('//img/pause.png');
  transition: all 0.4s;
}
.miniplayer .play_button {
  cursor: pointer;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: 13px;
  margin-left: 35px;
  background-image: url('//img/play.png');
  transition: all 0.4s;
}
.play_button.playing {
  display: none;
}
/* END OF CONTROLS */

/* TITLE AND ETC */
.miniplayer .category {
  position: absolute;
  margin-left: 75px;
  top: 25px;
  font-size: 8px;
  color: #6aabb7;
}
.miniplayer .name {
  position: absolute;
  margin-left: 75px;
  top: 15px;
  font-size: 10px;
  font-weight: bold;
  color: #6aabb7;
}
/* END OF TITLE */
