.br_player {
    background-color: #6BBAA7; 
    width: 335px;
    height: auto;
    margin: 5px auto;
}
.br_player .player_title {
  background-color: rgba(108, 100, 139, 0.2);
  height: auto;
  width:  100%;
}
.br_player .player_controls {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.player_title div {
  display: inline-block;
}
.player_title .player_user {
  background-color: #FBA100;
  padding: 2px 4px;
  font-size: 12px;
  color: white;
}
.player_title .player_sample {
  color: white;
  vertical-align: top;
  padding: 1px 2px;
  font-size: 10px;
}
.player_title .player_date {
  padding: 1px 2px;
  color: white;
  float: right;
  font-size: 10px;
}
.player_controls .play_button_cont {
  display: inline-block;
  vertical-align: middle;
  background-color: #6C648B;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.play_button_cont .play_button {
  display: block;
  box-sizing: border-box;
  margin: 5px;
  border-style: solid;
  border-width: 10px 0px 10px 20px;
  border-color: transparent transparent transparent white;
}
.play_button.playing {
  display: none;
}
.pause_button {
  display: none;
}
.pause_button.playing {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-style: double;
  border-width: 0px 0px 0px 20px;
  border-color: white;
}
.player_controls .br_progress_cont{
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  height: 30px;
  width: 200px;
  background-color: #6C648B;
  margin-right: 10px;
}
.br_progress_cont .br_progress {
    height: 24px;
    width: 100%;
    background-color: #FBA100;
}
.player_controls .timeleft {
  display: inline-block;
  vertical-align: middle;
  background-color: #6C648B;
  color: white;
  padding: 5px 10px;
  width: 60px;
}
