.br_player{
  float: left;
  background-color: rgba(182, 161, 158, .3);
  margin: 2px 5px;
  width: 335px;
  height: auto;
  transition: all 0.3s ease-out;
  opacity: 0.8;
}
.br_player .player_title {
  background-color: rgba(108, 100, 139, 0.2);
  height: auto;
  width:  100%;
}
.br_player:hover .player_controls {
  display: block;
}
.br_player:hover {
  opacity: 1;
}
.br_player .player_controls {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5px;
}
.br_player .player_cat {
  background-color: #FBA100;
  height: auto;
  font-size: 10px;
  width: 100%;
  color: white;
}
.player_title div {
  display: inline-block;
}
.player_title .player_user {
  background-color: #6BBAA7;
  padding: 2px 4px;
  font-size: 12px;
  color: white;
}
.player_title .player_sample {
  color: white;
  vertical-align: top;
  padding: 1px 2px;
  font-size: 10px;
}
.player_title .player_date {
  padding: 1px 2px;
  color: white;
  float: right;
  font-size: 10px;
}
.player_controls .play_button_cont {
  display: inline-block;
  vertical-align: middle;
  background-color: #6C648B;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.play_button_cont .play_button {
  display: block;
  box-sizing: border-box;
  margin: 3px;
  border-style: solid;
  border-width: 5px 0px 5px 10px;
  border-color: transparent transparent transparent white;
}
.play_button.playing {
  display: none;
}
.pause_button {
  display: none;
}
.pause_button.playing {
  display: block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: 3px;
  border-style: double;
  border-width: 0px 0px 0px 10px;
  border-color: white;
}
.player_controls .br_progress_cont{
  display: inline-block;
  vertical-align: middle;
  padding: 3px 5px;
  height: 16px;
  width: 200px;
  background-color: #6C648B;
  margin-right: 10px;
}
.br_progress_cont .br_progress {
    height: 10px;
    width: 100%;
    background-color: #FBA100;
}
.player_controls .timeleft {
  display: inline-block;
  vertical-align: middle;
  background-color: #6C648B;
  color: white;
  font-size: 10px;
  line-height: 16px;
  padding: 0px 10px;
  width: 50px;
}
