.regLabel {
    font-size: 10px;
}
.regLabel.error {
    color: red;
    font-size: 10px;
}
.registerInput:focus {
    outline: 0;
}
.registerInput {
    border: 0;
    border-bottom: 2px solid #1976D2;
    padding: 2px;
}
.registerInput.invalid {
    border-color: red;
}
p {
    padding: 0;
    margin: 0;
}
.error_msg {
    font-size: 10px;
    color: red;
}
