.regLabel {
  font-size: 10px;
  color: white;
}
.regLabel.error {
    color: red;
    font-size: 10px;
}
.registerInput:focus {
    outline: 0;
}
.registerInput {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #6C648B;
  padding: 2px;
}
.registerInput.invalid {
  border-color: red;
}
p {
    padding: 0;
    margin: 0;
}
.error_msg {
    font-size: 10px;
    color: red;
}
.reg_button:hover {
  background-color: #6aabb7;
}
.reg_button {
  text-decoration: none;
  padding: 8px;
  background-color: #fba100;
  color: white;
  width: 100px;
  text-align: center;
}
.reg_success_wrap {
  width: 100%;
  position: absolute;
  top: 100px;
  display: block;
  padding-bottom: 5px;
}
.reg_success_cont {
  margin: 0 auto;
  text-align: center;
  width: 335px;
  background-color: rgba(107, 186, 167, .8);
}
