.upload_file_btn .upload_file_name {
  font-size: 14px;
  margin-left: 20px;
  color: white;
  padding: 0 10px;
}
.upload_file_btn .upload_icon {
  position: absolute;
  top: 4px;
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-image: url('http://localhost:3000/img/upload.png');
}
.upload_file_btn {
  position: relative;
  background-color: #6aabb7;
  top: 5px;
  padding: 4px;
  text-align: center;
  min-width: 150px; 
  max-width: 280px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.upload_submit:hover,
.upload_file_btn:hover {
  background-color: #fba100;
}
input[type='file'] {
  display: none;
}
.upload_submit {
  text-align: center;
  width: 150px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  background-color: #6aabb7;
  color: white;
  line-height: 25px;
  height: 25px;
}
.upload_error {
  color: red;
  font-size: 10px;
  text-align: center;
}
