.upload_file_btn .upload_file_name {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  border-bottom: solid 1px black;
  text-align: left;
  width: 150px;
  color: rgba(117, 117, 117, 0.87); 
}
.upload_file_btn .upload_icon {
  position: absolute;
  top: 14px;
  left: 125px;
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-image: url('/img/upload-black.png');
}
.upload_file_btn {
  position: relative;
  color: red;
  /*background-color: #6aabb7;*/
  top: 5px;
  text-align: center;
  min-width: 100px; 
  max-width: 280px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.upload_file_btn:hover .upload_icon {
  background-image: url('/img/upload-green.png');
}
.upload_file_name:hover {
  border-bottom: solid 2px #6aabb7;
 }
.upload_submit:hover,
.upload_file_btn:hover {
  color: #fba100;
}
input[type='file'] {
  display: none;
}
.upload_submit {
  text-align: right;
  margin-left: 100px;
  margin-top: 20px;
  width: 97px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  color: #6aabb7; 
  line-height: 25px;
  height: 25px;
}
.upload_error {
  color: red;
  font-size: 10px;
  text-align: left;
}

/* NEW STYLE */

.upload_wrap {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
}
.upload_cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white; 
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding: 10px 0;
}
