.uploadLabel {
        font-size: 10px;
    }
.uploadLabel.error {
    color: red;
    font-size: 10px;
}
.uploadInput {
    border: 0;
    border-bottom: 2px solid #1976D2;
    background: transparent;
    padding: 2px;
}
.uploadInput:focus {
    outline: 0;
}
.uploadInput.invalid {
    border-color: red;
}
