.navBar {
  position: fixed;
  z-index: 999;
	list-style-type: none;
	margin: 0;
	padding: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
.navBar .navLi {
  position: relative;
  display: inline-block;
}
.navLi .navItem {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
  text-align: center;
	color: #455069;
  font-weight: bold;
  transition: all .3s ease-in;
}
.navLi .navItem:hover {
}
.navItem::after {
  position: absolute;
  left: 0;
  bottom: 5px;
  margin-left: 16%;
  width: 0%;
  content: '';
  background-color: #6BBAA7;
  height: 3px;
  transition: all 0.3s ease-in;
}
.navItem:hover::after{
    width: 70%;
}
.navItem.active {
}
.navItem.active::after {
  width: 70%;
	background-color: #FBA100;
}
.sign_out {
  display: block;
	padding: 11px 16px;
  float: right;
  font-size: 12px;
	color: #455069;
  cursor: pointer;
}
